#board {
    border: solid 5px #000000;
    width: 100%;
}

.container {

}

#board-holder {
    margin: auto;
    width: 90%;
    height: 90%;    
    max-width: 750px;
    max-height: 750px;
}

body {
    background-color: #073642;
}